.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.centerWithMargin {
    margin: 20px auto;
    width: 80%;
}
.text {

}

.flag {
    width: 100px;
    height: 100px;
}